html{
    scroll-behavior: smooth;
}


*
{
    margin:0;
    font-family: "Montserrat", sans-serif;
}
body{
    height:100vh;
    width:100%;
    text-decoration: none;
    list-style: none;
    background-color: black;
    color:white;
   
}

header{
    background:rgb(34, 34, 35) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 8px;
    border-radius: 10px;
    padding:20px;
}

.name{
    color:rgba(255, 255, 255, 0.841);
    font-weight:700;
    font-size: 40px;
    text-decoration: none;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-left: 20px;
}

li{
    display: inline;
}

li a{
    color:white;
    margin-right: 15px;
    font-size: 20px;
    font-weight: 200px;
    text-decoration: none;
    transition:opacity 0.15s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;
}

li a:hover{
    color:steelblue;
    cursor: pointer;
    transition: 0.3s;
    text-decoration:underline;
}

.home{
 width:100%;
height: 100vh;   
border-radius:1rem;
}

.hero-name h1{
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    padding-top:30px;
    color:firebrick;
}

.hero-name h2{
    text-align: center;
    font-style:oblique;
    color:whitesmoke;
    font-size: 40px;
    padding:10px;
    font-family:sans-serif;
    color:rgb(146, 202, 255);
}
.mj-home{
    display: flex;
    flex:1fr 1fr;
    flex-direction:row;
    border-radius:1rem;
    justify-content: center; 
}
.mj-home img{
    object-fit:cover;
    width:300px;
    margin-top:20px;
    margin-right:10px;
    border:4px solid;
    border-radius:30px;
    border-color: rgb(35, 35, 35);
    padding:18px;
    margin-left:20px;
    box-shadow:3px 3px 5px rgba(141, 140, 140, 0.5);
    transition: 0.4s;
}

.mj-home img:hover{
    padding:38px;
    transition: 0.4s;
    padding-top:10px;
    object-fit:cover;
    padding-bottom: 20px;
}

.home-text{
   font-weight: 600; 
   font-size: 28px;
    padding:30px;
    margin-left: 20px;
    margin-top:20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about{
    height:100vh;
    width:100%;
}

.info{
    padding:30px;
    border-radius: 20px;
    padding-top:120px;
  }

  .info p{
       font-size: 28px;
      font-weight: 600;
      border-radius: 10px;
      color:white;
      line-height: 50px;
      border:2px solid;
      border-radius: 10px;
      border-color: cornflowerblue;
      padding:10px;
      transition: 0.4s;
  }

  .info p:hover{
    border:5px solid;
    border-color: cornflowerblue;
    box-shadow: 3px 3px 3px rgba(21, 146, 242, 0.6);
    transition: 0.2s;
  }

  .Achievements{
    height: 100vh;
    width:100%;
  }

  .ach{
    padding:10px;
    padding-top:150px;
  }

  .ach h3{
    color:gold;
    font-size:38px;
    font-weight:600px;
    margin-bottom:30px;
    text-align: center;
    background-color:blueviolet;
    padding: 20px;
    border-radius: 20px;
}

  .Awards{
    font-size:20px;
    font-weight: bolder;
    line-height: 50px;
  }

.sec-4{
    width:100%;
    height: 100vh;
}
  .container{
    display:grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    
  }

  .card{
    width:180px;
    background-color:rgb(31, 31, 31);
    border-radius: 8px;
    overflow: hidden;
    margin:10px;
    height:280px;
    margin-bottom:20px;
    padding:10px;
    transition: 0.5s;
      border:5px solid black;
  }

  .card img{
    width:100%;
    height:200px;
    object-fit: cover;
    ;
  }
  .content{
      padding:8px;
  }
  
  .content h2{
    font-size:21px;
  }

  .card:hover{
    color:lightskyblue;
    transition:0.5s;
     border:5px solid;
      border-color:rgb(54, 54, 54);
      box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  
  }

  footer{
    width:100%;
   padding:10px 0px 0px;
    background-color:rgb(59, 59, 59);
    border-radius: 5px;
  }

  .icons{
    display: flex;
    justify-content: center;
  }

  .icons a{
    text-decoration: none;
    padding:10px;
    background-color: aliceblue;
    margin: 8px;
    border-radius: 50%;
  }

.icons a i{
    font-size: 1.3em;
    color:black;
    opacity:0.9;
}

.icons a:hover{
    background-color: #111;
    transition: 0.4s;
}

.icons a:hover i{
    color:white;
    transition: 0.4s;
}

.footer-content{
    text-align: center;
    padding:10px; 
    margin-top: 10px; 
    border-radius: 5px;
    padding-bottom:8px;
}

span{
    color:aquamarine;
    font-size: 18px;
    font-weight:bold;
    font-family: cursive;
    margin:5px;
    transition: 0.3s;
    cursor: pointer;
}
span:hover{
    color:cornflowerblue;
    transition: 0.3s;
    font-size:22px;
}



.like button{
    border-radius: 3px;
    margin-right:20px;
}

.like{
    text-align:end;
    transition: 0.5s;
    color:darksalmon;
    font-weight: bold;

}

.like button:hover{
    background-color: black;
    color:dodgerblue;
    cursor: pointer;
    transition: 0.5s;
}

.button{
    border:3px solid rgb(51, 51, 51);
    color:black;
    background-color:lightgreen;
    padding:5px;
    border-radius: 3px;
    margin-left:10px;
    transition: 0.5s;
}

.button:active{
    color:black;
    background-color:rgb(101, 168, 101);
}
